@font-face {
    font-family: 'BitterRegular';
    src: url('Bitter-Regular-webfont.eot');
    src: url('Bitter-Regular-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('Bitter-Regular-webfont.woff') format('woff'),
         url('Bitter-Regular-webfont.ttf') format('truetype'),
         url('Bitter-Regular-webfont.svg#BitterRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, #home_widget_wrap.banner_widget_count2.outreach_email_banner {
	font-family:'BitterRegular',Georgia,serif;
}

h1 {
	margin-bottom: 20px;
	margin-top:40px;
	font-size:26px;
	line-height:26px;
}

h2 {
	margin-bottom: 20px;
	margin-top:35px;
	font-size:22px;
	line-height:22px;
}

h3 {
	margin-bottom: 15px;
	margin-top:30px;
	font-size:18px;
	line-height:18px;
}

h4 {
	margin-bottom: 15px;
	margin-top:30px;
	font-size:16px;
	line-height:16px;
}